bcrypt
blinker
certifi
charset-normalizer
click
colorama
contourpy
cycler
filelock
Flask
fonttools
fsspec
idna
itsdangerous
Jinja2
kiwisolver
MarkupSafe
matplotlib
mpmath
mysql
mysql-connector
mysql-connector-python
mysqlclient
networkx
numpy
opencv-python
packaging
pandas
pillow
psutil
py-cpuinfo
pyparsing
python-dateutil
python-dotenv
pytz
PyYAML
requests
scipy
seaborn
six
sympy
torch
torchvision
tqdm
typing_extensions
tzdata
ultralytics
ultralytics-thop
urllib3
Werkzeug
